.row-rewiews{
    display:flex;
    height : 500px;
    flex-direction: row;
    justify-content:space-around;
    padding : 30px 30px;
}
.title-reviews{

}


.carroussel-reviews{
    width : 600px;
}





