.info-cb h2 {
    font-family: 'Noto Sans', sans-serif;    
    color: white;
}

.info-cb span, h3{
    color: rgb(21, 20, 20);
    font-family: 'Noto Sans', sans-serif;
}

.cb-form input {
    background-color: transparent;
    height: 35px;    
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
}

::placeholder {
    color: white;
}

input:focus{
    outline: none;
}

.info-cb {
    margin: 0 0 25px 25px;
}

.container-cb {
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #5cc9f0;
    
}

.cb-icons {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.cb-form {
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;

}

.numero-cb {
    width: 80%;
}

.date-cb {
    width: 25%;
    height: 36px;
}

.cvc-cb {
    width: 20%;
    height: 36px;
    margin-left: 25px;

}

.submit-btn {
    width : 40%;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(21, 20, 20);
    color: white;
    border: 1px solid rgb(21, 20, 20);
    margin-right: 15px;
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.total p{
    display: flex;
    width: 50%;
    height: 40px;
    background-color: white;
    color:rgb(21, 20, 20);
    margin-left: -25px;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-weight: 500;
}