.section2-mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 800px;
}

.cream {
  grid-column: 1 / span 1;
  grid-row: 1 / -1;
  background: url("https://pixy.org/src2/582/5823118.png") no-repeat center
    center/cover;
  background-position: center 120px;
  background-color: #5acaf0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 0;
  cursor: pointer;
}

.section2__cream__info {
  max-width: 400px;
  margin: 0 auto;
  color: white;
  padding: 0 8px;
}
.section2__cream__info h1 {
  font-size: 3rem;
  font-family: sans-serif;
}
.section2__cream__info p {
  font-size: 0.8rem;
  font-family: sans-serif;
  font-weight: 300;
}
.section2__cream__info h4 {
  font-size: 0.8rem;
  font-family: sans-serif;
  font-weight: 600;
  margin-top: 10px;
  padding: 8px;
  background-color: #35a5cc;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}
.section2__margin_auto {
  margin: 0 auto !important;
}

/* --------- */

.macarons {
  position: relative;
  grid-column: 2 / span 1;
  grid-row: 2 / -1;
  background: url("https://cdn11.bigcommerce.com/s-cz9zi6z6xn/images/stencil/1280w/carousel/16/MAE-French_Macarons-Online1800.png?c=1")
    no-repeat center center/cover;
  background-color: #f1d95f;
  cursor: pointer;
}
.macarons h4 {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: #ffe87a;
  max-width: 90px;
  border-radius: 4px;
  padding: 6px;
}
.macarons h2 {
  writing-mode: vertical-lr;
  margin-top: 120px;
  font-size: 4rem;
  color: white;
  font-family: sans-serif;
  padding-left: 10px;
}

/* ----------- */

.discounts {
  grid-column: 3 / span 1;
  grid-row: 1 / span 3;
  background-color: rgb(121, 120, 154);
  background: url("https://www.carvel.com/-/media/carvel/menu/ice-cream/soft-serve/car-740323-website-silo-crunchies-600x600-strawcone-2022-01.png?v=1&d=20220421T132220Z&h=600&w=600&la=en&hash=FC5241F4DE6F26BCB1A10411C93D95FF")
    no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.discounts h1 {
  font-size: 2.4rem;
  font-weight: 800;
  font-family: sans-serif;
  writing-mode: vertical-rl;
}

/* ------------ */

.categories {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}
.categories h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 800;
  text-align: center;
}

/* ----------- */

.donuts {
  grid-column: span 1 / -1;
  grid-row: 1 / span 3;
  background: url("https://www.dunkindelivery.be/foodticket/images/6468/_cms1625647617_2-x12-donuts.png")
    no-repeat center/cover;
  background-color: #ed708e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10%;
  color: white;
  cursor: pointer;
}
.donuts h1 {
  font-size: 45px;
  font-weight: 800;
  font-family: "Roboto";
}
.donuts h4 {
  background: #dc5475;
  padding: 6px;
  border-radius: 4px;
  font-weight: 500;
}

/* --------------- */

.cheskey {
  grid-column: span 2 / -1;
  grid-row: span 2 / -1;
  /* background: url("https://i.postimg.cc/wv6H5WNQ/Sans-titre-4.png") no-repeat; */
  background-color: #5acaf0;
  color: white;
  padding-left: 4%;
}
.cheskey > div {
  position: relative;
  height: 64px;
}
.cheskey > div > h4 {
  position: absolute;
  display: inline-block;
  right: 16px;
  top: 16px;
  padding: 6px;
  border-radius: 4px;
  font-weight: 600;
  background: #36a6cc;
}
.section2__cheskey__mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70% !important;
}
.section2__cheskey__mainContainer > h1 {
  font-size: 4rem;
  font-weight: 600;
  font-family: "Roboto";
  margin: 0;
}
.section2__cheskey__mainContainer > p {
  font-weight: 400;
  max-width: 320px;
}

.section2__arrowBtn {
  width: 200px !important;
}
