.section2 {
    width: 100;
    height: 600px;
}

.section2-mainContainer {
     width: 100vw;
     
     display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "cream categories discounts donuts"
    "cream macarons discounts donuts"
    "cream macarons discounts donuts"
    "cream macarons cheskey cheskey"
    "cream macarons cheskey cheskey"; 
}

.cream {
     grid-area: cream;
     background: url("https://i.postimg.cc/gJ9BG8rf/Macarons-1.png") no-repeat center center/cover;
     width: 100%;
     height: 600px;

}

.macarons {
     grid-area: macarons; 
     background-color: #F1D95F;
     width: 100%;
     height: 468px;
     background: url('https://i.postimg.cc/YqHQrjdJ/Macarons.png') no-repeat center center/cover;
}

.discounts {
     grid-area: discounts; 
     background-color: #fff;
     width: 100%;
     height: 400px;
     background: url('https://i.postimg.cc/RVNNpX6S/pic9.png') no-repeat;
     background-size: 110%;
     background-position: 205% -5%;
     display: flex;
     align-items: center;
     justify-content: flex-end;
}

.donuts {
     grid-area: donuts;
     background: url('https://i.postimg.cc/vZP46s9v/Sans-titre-4.png') no-repeat center center/cover; 
     background-size: 100%;
     background-position: 10% 45%;
     width: 100%;
     height: 400px;
     z-index: 2;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding-left: 20px;
     position: relative;
     right: 20px;
}


.categories {
     grid-area: categories; 
     background-color: #fff;
}

.cheskey {
     grid-area: cheskey; 
     background: url("https://i.postimg.cc/wv6H5WNQ/Sans-titre-4.png") no-repeat;
     background-size: 100%;
     background-position:  13% 1%;
     height: 200px;
     width: 100%;
}

.discounts h1 {
     font-size: 45px;
     font-weight: 800;
     font-family: 'Roboto';
     color: black;
     transform: rotate(-90deg);
     width: 180px;
     margin-bottom: -15px;
}

.donuts h1 {
     color: #fff;
     font-size: 45px;
     font-weight: 800;
     font-family: 'Roboto';
}
.donuts h4 {
     background: #DC5475;
     width: 90px;
     padding: 5px 10px;
     border-radius: 4px;
     color: #fff;
     font-weight: 500;
}

.donutsBtn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #EC6D8B;
      width: 150px;
      border: 2px solid #fff;
      height: 15px;
      padding: 10px 2px 12px 20px;
      border-radius: 50px;
}

.donuts p {
     color: #fff;
     font-weight: 500;
}

.cheskey h1 {
     color: #fff;
     font-size: 45px;
     font-weight: 800;
     font-family: 'Roboto';
     height: 20px;
     padding: 0px 0px 10px 60px;
}

.cheskey p {
     color: #fff;
     width: 290px;
     height: 20px;
     padding: 5px 0px 15px 60px;
}

.cheskeyBtn {
    width: 190px;
    height: 33px;
    background-color: #4EC1E6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
    border-radius: 50px;
    border: 2px solid #fff;
}

.cheskeyBtn p {
     width: 110px;
     height: 5px;
     padding: 25px 13px;
     position:relative;
     top: -8px;
     left: 5px;

}
.cheskey h4 {
     color: #fff;
     position: relative;
     width: 90px;
     padding: 5px 10px;
     border-radius: 4px;
     color: #fff;
     font-weight: 500;
     background: #36A6CC;
     float: right;
     right: 240px;
     top: -90px;
}

.macarons h4 {
     position: relative;
     background-color: #FFE87A;
     width: 120px;
     text-align: center;
     border-radius: 4px;
     float: right;
     right: 15px;
     padding: 4px 0px 6px 0px;
     font-weight: 700;
}

.cream-block {
     width: 70%;
     
     display: flex;
     flex-direction: column;
     align-items: start;
     padding: 10px 100px;
     justify-content: center;
}
.cream-block h1 {
     color: #fff;
     font-size: 45px;
     font-weight: 600;
     font-family: 'Roboto';
     height: 20px;
    
}
.cream-block p {
     color: #fff;
     font-weight: 500
}

.cream-block h4 {
     color: #fff;
     position: relative;
     padding: 4px 0px 6px 0px;
     background-color: #37A4D0;
     width: 110px;
     text-align: center;
     border-radius: 4px;
     top: -19px;
     font-weight: 600;
}
.cream-btnBottom {
     position: relative;
     display: flex;
     justify-content: space-between;
     align-items: center;
     bottom: -290px;
     left: 150px;
     color: #fff;
     background-color: #ED708E;
     width: 150px;
     height: 30px;
     border-radius: 50px;
     padding: 2px 0px 2px 20px;
}

.categories h1 {
     font-size: 50px;
     font-weight: 800;
     text-align: center;
     width: 250px;
     position: relative;
     left: 110px;
     padding: 0;
     margin: 0;
}