@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&family=Roboto:wght@400;500;700;900&display=swap");

.section1-mainContainer {
  height: 800px;
  display: flex;
  justify-content: space-around;
}
.section1-leftBox {
  position: relative;
  height: 100%;
  width: 43%;
  margin-right: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.section1-leftBox-pictureBlock {
  height: 489px;
  width: 20rem;
  background-color: #ffacbe;
  border-radius: 10px;
  position: relative;
}

.pic1 {
  width: 315px;
  position: absolute;
  bottom: 0;
}
.pic4 {
  width: 110px;
  position: absolute;
  bottom: 45px;
  right: -42px;
  border-radius: 10px;
  background-color: #ffacbe;
  border: 3.5px solid #fff;
}
.pic7 {
  position: absolute;
  width: 139px;
  top: 200px;
  right: -71px;
  background-color: #00b6dd;
  border-radius: 10px;
  border: 4px solid #fff;
}

/*rightBox */

.section1-rightBox {
  height: 100%;
  width: 51%;
  /* background-color: rgb(110, 241, 110); */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.section1-rightBox > h3 {
  font-size: 0.9rem;
  font-weight: 800;
}
.section1-rightBox-ourProduction {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 540px;
}
.section1-rightBox-ourProduction > h1 {
  font-size: 70px;
  padding: 0;
  margin: 0;
}
.section1-rightBox-ourProduction > h1 > span {
  color: #51bfe7;
}
.ourProduction-btn > h4 {
  margin-left: 25px;
}

.section1__button_production_container {
  position: relative;
  display: inline-flex;
  flex-grow: 1;
  height: 100%;
}
.section1__button_production {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%);
  margin-left: 18px !important;
}

.section1-rightBox-paragraph {
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
}
.para-left {
  width: 11rem;
  height: 100%;
  /* background-color: yellow; */
}
.para-left > p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  font-size: 0.8rem;
  font-weight: 400;
}
.para-right > p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  font-size: 0.8rem;
  font-weight: 400;
}

.para-right {
  width: 11rem;
  width: 40%;
  height: 100%;
}

.section1__para_img {
  height: 120px;
  width: 120px;
  margin: auto;
}
