.popular__products__container {
  height: 26vh;
}

.popular__products__container h3 {
  margin: 0;
  text-align: center;
  padding-top: 2rem;
}

.popular__products__banner {
}

.popular__product__popular__card {
  margin-top: 5rem;
}
